td{
    /*border: 2px solid black;*/
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 85px;
}
h1{
    text-align: center;
}
.vertical{
    border-left: 1px solid gold;
    border-right: 1px solid gold;
}

.horizontal{
    border-top: 1px solid gold;
    border-bottom: 1px solid gold;
}
table{
    margin: auto;
}
/*Add the necessary code to display a grey border around a game square when the mouse pointer hovers over it (HINT: CSS)*/
td:hover{
    border: 2px solid gray;
}